:root {
    --font-primary: 'Roboto';
    --font-secondary: 'Lato';
    --white: #FAFAFA;
    --gray: #C1C7C9;
    --black: #000000;
}

/* Add your CSS code below */
body {
    background-color: var(--white);
    background: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg);
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
}

body::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 8px;
    border-right: 2px solid var(--white);
}

h1 {
    font-size: 80px;
}

main {
    width: 100%;
}

.buscador {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.buscador > div {
    width: 100%;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: groove;
    background-color: #fff;
}

.searchBar {
    width: 600px;
    height: 30px;
    border-style: none;
    font-size: 18px;
}

.searchBtn {
    background-color: transparent;
    height: 30px;
    font-size: 18px;
    border-style: none; 
}

.filtros {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros > p {
    font-size: 20px;
}

.filtros > select {
    font-size: 18px;
}

table {
    background-color: rgba(27, 27, 27, 0.116);
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

tbody {
    border-bottom: black 2px solid;
}

tbody > tr > th {
    font-size: 18px;
}

table > tr:hover {
   background-color: var(--white); 
}

tr > td {
    font-size: 18px;
    text-align:center;
}

.description {
    text-align: justify;
}

#count {
    width: 80%;
    margin: 20px auto; 
    font-size: 20px;
    font-weight: bold;
}

.textAreaUrls {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
